{{#section 'styles'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  
{{/section}}

  	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Author's Details</h3>
				<div class="row">
					<div class="col-md-3">
						 <img src="/{{ author.image }}" width="200px">
					</div>
					<div class="col-md-9 mt-sm-20">
            <span class="text-muted">Name:</span> <a href="/authors/{{_id}}"
                                                                 style="color: #00b1ff;">{{ author.fname }} {{author.lname}}</a><br/>
             <h5>{{ author.dob }}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->

  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                 <th scope="col">Author's Books</th>
              </tr>
            </thead>
            <tbody>
              {{#each books}}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                        <img src="/{{ image }}" width="200px">
                    </div>
                     <div id="rateYo{{_id}}" ></div>
                    <div class="media-body">
                      <span class="text-muted">Name:</span> <a href="/book/{{_id}}"
                                                                 style="color: #00b1ff;">{{name}}</a><br/>
                    </div>
                  </div>
                </td>
                <td>
                  <form action="/authors/{{author._id}}" method="POST">
                  <input type="hidden" name="book_id" value="{{_id}}">
                    <select class="shipping_select" onchange="this.form.submit()" name="selectedBook">
                      <option value="finished">Read</option>
                      <option value="current">Currently Readinga</option>
                      <option value="read">Want to Read</option>
                    </select>
                  </form>
                </td>
              </tr>
               {{/each}}
            </tbody>
          </table>
        </div>
      </div>
  </section>


{{#section 'scripts'}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(document).ready(function () {
            {{#each books}}
                $("#rateYo{{_id}}").rateYo({
                    rating: "{{avgRate}}",
                    starWidth: "20px",
                    readOnly: true
                });

            {{/each}}
        });

    </script>

{{/section}}