{{#section 'styles'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <style>

        .star {
            color: goldenrod;
            font-size: 1.2rem;
        }

        .star::before {
            content: '\2606';
            cursor: pointer;
        }

        .star:hover::before {
            /* the :hover should come first */
            content: '\2605';
            color: #bada55;
        }

        .star.rated::before {
            /* the :hover should come first */
            content: '\2605';
        }
    </style>
{{/section}}

<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>

                            <div class="media">
                                <div class="d-flex">

                                    <img src="/{{book.image}}" style="height: 200px;" alt=""/>
                                </div>
                                <div class="media-body">
                                    <h4>{{book.name}}</h4>
                                    <h6>Author: <a href='/authors/{{book.author._id}}' style="color: #00b1ff;">{{book.author.fname}} {{book.author.lname}}</a></h6>
                                    <h6>Category: <a href="/category/{{book.category._id}}" style="color: #00b1ff;">{{book.category.name}}</a></h6>
                                    <div id="rateYo"></div>
                                </div>
                            </div>
                        </td>

                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"><h1>Review</h1></label>
                <textarea class="form-control" id="review" rows="3">{{review}}</textarea>
            </div>
            <button type="button" class="btn btn-primary" id="submitId">add Review</button>
        </div>

        <br><br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><h1>Reviews</h1></label>
            {{#each reviews}}
                <input class="form-control" type="text" placeholder="{{review}}" readonly> <br>
            {{/each}}
        </div>

    </div>
    </div>
</section>

{{#section 'scripts'}}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(document).ready(function () {
            let rateYo = $("#rateYo").rateYo({
                rating: '{{rate}}',
                starWidth: "20px",
            });
            $(document).on('click', '#submitId', function (e) {
                e.preventDefault();
                let rate = rateYo.rateYo('rating');
                let review = $("#review").val();
                if (review) {
                    axios.post('/book/{{book._id}}/rate', {rate: rate, review: review}).then(res => {
                        alert(res.data.msg);
                    });
                }
            });
        });
    </script>

{{/section}}
