{{> layout/slider }}
<!-- Category Area Start-->
<section class="category-area section-padding30">
    <div class="container-fluid">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-85">
                    <h2>Top Books</h2>
                </div>
            </div>
        </div>
        <div class="row">

            {{!--============== Each Top Books ============--}}
            
            {{#each docs}}
            <div class="col-xl-4 col-lg-6">
                <div class="single-category mb-30">
                    <div class="category-img">
                        <img style="width: 200px; height: 280px;" src="/{{image}}" alt="">

                        <div class="category-caption" style="position: relative; bottom: -50px;">
                            <h5>{{author.fname}} {{author.lname}}</h5>
                            <span class="best"><a href="/book/{{_id}}">Show Book</a></span>
                            <span class="collection">Details</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- =============================The end============================= --}}
            

            {{!-- =================================The authors======================== --}}
           <h1  style="position: absolute; top: 1950px; left:550px">Top Authors</h1>
           

            {{#each authors}}
            <div class="col-xl-4 col-lg-6">
                <div class="single-category mb-30">
                    <div class="category-img" style="position: relative; top: 200px;">
                        <img style="width: 200px; height: 280px;" src="/{{image}}" alt="">

                        <div class="category-caption" style="position: relative; bottom: -50px;">
                            <h5>{{fname}} {{lname}}</h5>
                            {{!-- <span class="best"><a href="/book/{{_id}}">Show Book</a></span> --}}
                            <span class="best"><a href="/authors/{{_id}}">Show Author</a></span>
                            <span class="collection">Details</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
           


